/*
CSS Credit: http://www.templatemo.com
*/
body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #d4d1c5;
	background: #141212
		url(#{request.contextPath}/resources/css/images/templatemo_main_bg.jpg)
		repeat;
}

a:link,a:visited {
	color: #e8c521;
	text-decoration: none;
	font-weight: normal;
}

a:active,a:hover {
	color: #e8c521;
	text-decoration: underline;
}

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}

.cleaner {
	clear: both;
	width: 100%;
	height: 0px;
	font-size: 0px;
}

.margin_bottom_10 {
	clear: both;
	width: 100%;
	height: 10px;
	font-size: 1px;
}

.margin_bottom_15 {
	clear: both;
	width: 100%;
	height: 15px;
	font-size: 1px;
}

.margin_bottom_20 {
	clear: both;
	width: 100%;
	height: 20px;
	font-size: 1px;
}

.margin_bottom_30 {
	clear: both;
	width: 100%;
	height: 30px;
	font-size: 1px;
}

.margin_bottom_40 {
	clear: both;
	width: 100%;
	height: 40px;
	font-size: 1px;
}

.margin_bottom_50 {
	clear: both;
	width: 100%;
	height: 50px;
	font-size: 1px;
}

.margin_bottom_60 {
	clear: both;
	width: 100%;
	height: 60px;
	font-size: 1px;
}

.margin_right_40 {
	margin-right: 40px;
}

.margin_right_70 {
	margin-right: 70px;
}

.fl {
	float: left;
}

.fr {
	float: right
}

.button_01 a {
	clear: both;
	display: block;
	width: 100px;
	height: 21px;
	padding-top: 5px;
	background:
		url(#{request.contextPath}/resources/css/images/templatemo_button_01.jpg)
		no-repeat;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

input[type="submit"] {
	clear: both;
	display: block;
	width: 100px;
	height: 30px;
	margin-top: 4px;
	padding-bottom: 5px;
	cursor: pointer;
	border: 0;
	background:
		url(#{request.contextPath}/resources/css/images/templatemo_button_01.jpg)
		no-repeat;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
}

input[type="submit"]:active {
	color: #FFF;
}

.button_01 a:active {
	color: #FFF;
}

.header_01 {
	clear: both;
	color: #fcd82b;
	padding: 5px 0 10px 0;
	border-bottom: 1px dashed #fcd82b;
	margin-bottom: 20px;
	font-size: 26px;
}

.header_02 {
	clear: both;
	color: #ffffff;
	padding: 0;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: bold;
}

.header_03 {
	clear: both;
	color: #fcd82b;
	padding: 5px 0 10px 0;
	border-bottom: 1px dashed #fcd82b;
	margin-bottom: 20px;
	font-size: 18px;
}

.header_04 {
	clear: both;
	color: #ffffff;
	padding: 5px 0 10px 0;
	font-size: 16px;
	font-variant: small-caps;
}

.em_text {
	color: #ffffff;
}

#tmeplatemo_container {
	width: 980px;
	margin: 0 auto;
	background: #4a483f;
}

/* menu */
#templatemo_menu {
	position: fixed;
	z-index: 9999;
	clear: both;
	width: 980px;
	height: 55px;
	background:
		url(#{request.contextPath}/resources/css/images/templatemo_menu_bg.jpg)
		repeat-x;
}

#templatemo_menu ul {
	margin: 0 auto;
	padding: 0px;
	width: 790px; /*  ( 138 x no. of menu item ) - 38 */
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	width: 80px;
	height: 40px;
	padding: 15px 38px 0 0;
	background:
		url(#{request.contextPath}/resources/css/images/templatemo_menu_right.jpg)
		right top no-repeat;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #707070;
	outline: none;
}

#templatemo_menu li a:hover,#templatemo_menu li .current {
	color: #000000;
}

#templatemo_menu li .last {
	padding-right: 0px;
	background: none;
}

/* end of menu*/

/* header */
#templatemo_header_01 {
	clear: both;
	width: 980px;
	height: 220px;
	background:
		url(#{request.contextPath}/resources/css/images/templatemo_header_bg.jpg)
		no-repeat;
}

/*----- OR ------*/
#templatemo_header_02 {
	clear: both;
	width: 980px;
	height: 220px;
	text-align: center;
	background:
		url(#{request.contextPath}/resources/css/images/templatemo_header_bg_blank.jpg)
		no-repeat;
}

#templatemo_header_02 #site_title {
	padding: 80px 0 0 0;
	font-size: 40px;
	color: #eccd35;
	font-weight: bold;
}

#site_title span {
	display: block;
	color: #cba810;
	margin-top: 20px;
	font-size: 16px;
}

/* end of header */

/* content */
#tmeplatemo_content {
	clear: both;
	width: 880px;
	padding: 10px 50px;
	background: #4a483f;
}

/* side_column */
#templatemo_side_column {
	float: left;
	position: relative;
	width: 260px;
	padding: 45px 20px;
	background: #424038;
}

#templatemo_side_column .top {
	position: absolute;
	width: 300px;
	height: 45px;
	top: 0px;
	left: 0px;
	background:
		url(#{request.contextPath}/resources/css/images/templatemo_side_column_top.jpg)
		no-repeat;
}

#templatemo_side_column .bottom {
	position: absolute;
	width: 300px;
	height: 45px;
	bottom: 0px;
	left: 0px;
	background:
		url(#{request.contextPath}/resources/css/images/templatemo_side_column_bottom.jpg)
		no-repeat;
}

#templatemo_side_column img {
	border: 5px solid #000000;
	margin-bottom: 5px;
}

.news_event_section {
	clear: both;
	margin-bottom: 30px;
}

.news_event_section p {
	margin-bottom: 10px;
}

#templatemo_main_column {
	float: right;
	padding-top: 50px;
	width: 480px;
}

#templatemo_main_column p {
	margin-bottom: 15px;
}

.section_w480 {
	clear: both;
	width: 480px;
	margin-bottom: 60px;
}

.section_w160 {
	width: 170px;
}

.section_w270 {
	margin-left: 20px;
}

.image_wrapper img {
	border: 5px solid #000000;
}

.fl_img {
	float: left;
	margin: 3px 20px 10px 0px;
}

.image_wrapper .fr_img img {
	float: right;
	margin: 3px 20px 5px 0px;
}

.content_list_01 {
	margin: 0 0 0 15px;
	padding: 0px;
	list-style: decimal-leading-zero;
}

.content_list_01 li {
	margin: 0px;
	padding: 0 0 10px 0;
}
/* end of content */

/* footer */
#templatemo_footer {
	width: 880px;
	padding: 80px 50px 0 50px;
	margin: 0 auto;
	background: #332e2e
		url(#{request.contextPath}/resources/css/images/templatemo_footer_bg.jpg)
		no-repeat;
	min-height: 130px;
}

#templatemo_footer a {
	color: #f6d229;
}

/* end of footer */
.invalid {
	padding-left: 3px;
	color: red;
	list-style-type: none;
}

.valid {
	list-style-type: none;
	color: aqua;
}

.attr_name {
	font-weight: bold;
	font-style: italic;
}

#table {
	border: 1px solid #e3e3e3;
	background-color: #f2f2f2;
	width: 100%;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 30px;
}

/* tables */
#table td,#table th {
	padding: 5px;
	color: #333;
}

#table thead {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: .2em 0 .2em .5em;
	text-align: left;
	color: #4B4B4B;
	background-color: red;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2),
		to(#e3e3e3), color-stop(.6, #B3B3B3));
	background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
	border-bottom: solid 1px #999;
}

#table th {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-shadow: white 1px 1px 1px;
}

#table td {
	line-height: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	text-align: center;
}

#table tr.matches-date-row {
    padding: .2em 0 .2em .5em;
    color: #4B4B4B;
    background-color: #e9e9e9;
}

#table tr.matches-date-row td {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    font-weight: bold;
}

#table td.left {
    text-align: left;
}
#table td.right {
    text-align: right;
}
/* end of tables */

.column_box {
	float: left;
	width: 150px;
	margin-right: 30px;
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	padding: 5px;
}

.details_header {
    font-variant: small-caps;
    font-style: normal;
}

.cleaner_horizontal_divider {
	clear: both;
	border-bottom: 1px dashed;
	margin-bottom: 20px; 
}

.login_container {
	background: dimgrey;
	padding: 15px;
	border-radius: 15px;
	margin-bottom: 30px;
}